.input {
  -webkit-appearance: none;
}
.input:hover {
  background-color: #eeeeee !important;
  border-color: #9eafb0 !important;
}

.input:focus {
  outline: none;
  /* border-bottom: 1px solid #3F5E60; */
}

.iconCol,
.greyTxt {
  color: #3f5e60;
}
