.rowDiv {
  background: #ffffff;
  box-shadow: 0px 20px 60px rgba(237, 239, 244, 0.5);
}

.jobPic {
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  min-width: 50px !important;
  min-height: 50px !important;
  box-shadow: 0px 3px 5px darkgrey;
}
#expPic {
  align-items: center !important;
}
#expPic,
#expPicData,
#expPicData1 {
  float: left !important;
}
#expPic {
  width: 11% !important;
}
#expPicData {
  width: 78% !important;
  padding-right: 10% !important;
}
#expPicData1 {
  width: 11% !important;
}
@media (max-width: 1200px) {
  #expPic,
  #expPicData {
    float: left !important;
  }
  #expPic {
    width: 30% !important;
  }
  #expPicData {
    width: 40% !important;
  }
  #expPicData1 {
    width: 30% !important;
  }
}
/*@media (max-width: 768px) {
    #proCol,
    #proColData {
      float: left !important;
    }
    #proCol {
      display: flex;
      justify-content: center;
      width: 100% !important;
    }
    #proColData {
      width: 100% !important;
    }
  }*/
