* {
  font-family: "Roboto", "Poppins";
}

body{
  background-color: #f2f3f5 !important;
}

.bg-grey {
  background-color: #f2f3f5 !important;
}

.bg-white {
  background-color: #ffffff !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-900 {
  font-weight: 900 !important;
}
